<fieldset>
    <legend>{{localize "Maus.CC.ChooseAutomation"}}:</legend>
    <div><input type="checkbox" id="stats" name="stats" checked> <label for="stats">{{localize "Maus.CC.BasicStats"}}</label></div>
    <div><input type="checkbox" id="background" name="background" checked> <label for="background">{{localize "Maus.CC.HPPipesBackground"}}</label></div>
    <div><input type="checkbox" id="details" name="details" checked> <label for="details">{{localize "Maus.CC.SignCoatLook"}}</label>
    </div>
    <div><input type="checkbox" id="items" name="items" checked> <label for="items">{{localize "Maus.CC.StartingItems"}}</label></div>
</fieldset>