<div>
    <br>
    <label for="weapons">{{localize "Maus.CC.ChooseWeapon"}}:</label>
    <select name="weapons" id="weapons">
        <option value="axe">{{localize "Maus.Weapon.Axe"}} [{{localize "Maus.Weapon.Medium"}}]</option>
        <option value="bow">{{localize "Maus.Weapon.Bow"}} [{{localize "Maus.Weapon.Heavy"}} {{localize "Maus.Weapon.Ranged"}}]</option>
        <option value="cleaver">{{localize "Maus.Weapon.Cleaver"}} [{{localize "Maus.Weapon.Light"}}]</option>
        <option value="dagger">{{localize "Maus.Weapon.Dagger"}} [{{localize "Maus.Weapon.Light"}}]</option>
        <option value="hammer">{{localize "Maus.Weapon.Hammer"}} [{{localize "Maus.Weapon.Medium"}}]</option>
        <option value="hookarm">{{localize "Maus.Weapon.Hookarm"}} [{{localize "Maus.Weapon.Heavy"}}]</option>
        <option value="mace">{{localize "Maus.Weapon.Mace"}} [{{localize "Maus.Weapon.Medium"}}]</option>
        <option value="needle">{{localize "Maus.Weapon.Needle"}} [{{localize "Maus.Weapon.Light"}}]</option>
        <option value="pick">{{localize "Maus.Weapon.Pick"}} [{{localize "Maus.Weapon.Medium"}}]</option>
        <option value="sling">{{localize "Maus.Weapon.Sling"}} [{{localize "Maus.Weapon.Light"}} {{localize "Maus.Weapon.Ranged"}}]</option>
        <option value="spear">{{localize "Maus.Weapon.Spear"}} [{{localize "Maus.Weapon.Heavy"}}]</option>
        <option value="sword">{{localize "Maus.Weapon.Sword"}} [{{localize "Maus.Weapon.Medium"}}]</option>
        <option value="warhammer">{{localize "Maus.Weapon.Warhammer"}} [{{localize "Maus.Weapon.Heavy"}}]</option>
    </select>
    <br>
    <br>
    <br>
</div>

